@import '../../mixins.scss';

.solid-btn {
  @include remove-styles();
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background-color: var(--global-red);
  color: var(--global-white);
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--font-size);
  border-radius: 5em;
  opacity: 0.8;
  box-shadow: -2px 5px 14px rgba(0, 0, 0, 0), 2px 5px 14px rgba(0, 0, 0, 0);
  transition: opacity 250ms ease-in, box-shadow 300ms ease;
  margin: 0;
}

/* ++++++++++ (desktop + tablets) ++++++++++ */
@media (min-width: 576px) {
  .solid-btn {
    padding: 0.6em 2.6em;
    letter-spacing: 0.09rem;
  }
}

/* ++++++++++ Mobile Devices ++++++++++ */
@media (max-width: 576px) {

  .solid-btn {
    padding: 1.4vh 6vw;
    font-weight: 400;
  }

}

/* ++++++++++ Add additiuonal styles for solid-btn here ++++++++++ */