@import '../mixins.scss';

@media (min-width:769px) {
  .container {
    display: grid;
    grid-template-columns: 1fr auto;

    &__column {
      height: 100%;
    }
  }
}

.container {

  &__column {
    display: grid;
    position: relative;

    &--left {
      grid-template-rows: auto 1fr;
    }
  }
}

.icon-btn {
  @include remove-styles();
  cursor: pointer;
  position: fixed;
  z-index: 80;
  top: 1.2rem;
  right: 1.2rem;
}

@media (max-width: 576px) {
  .App__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2vh;
  }

  .icon-btn {
    position: relative;
    top: 0;
    right: 0;
  }
}