@import '../global.scss';

@media (min-width:769px) {
  .container {
    display: grid;
    grid-template-columns: 1fr auto;

    &__column {
      height: 100%;
    }
  }
}

.container {

  &__column {
    display: grid;
    position: relative;

    &--left {
      grid-template-rows: auto 1fr;
    }
  }
}
