@mixin remove-styles {
  border: none;
  text-decoration: none;
  background: none;

  &:focus {
    outline: none;
  }
}

.container {
  border: 2px solid teal;
  display: grid;
  grid-template-columns: 1fr fit-content(13px);

  .container__column {
    border: 2px solid palevioletred;
  }
}

.dark {
  .search .search__container {
    background-color: var(--global-medium-grey);
  }
}

.search {

  &__container {
    width: 34vw;
    min-width: fit-content;
    position: relative;
    border-radius: 0.9em;
    height: 10vh;
    padding: 2vh 1vw;
    box-shadow: -5px 10px 20px rgba(7, 7, 7, 0.595);
    display: flex;
    align-items: center;

    &>* {
      margin-right: 0.3em;
    }
  }

  &__input {
    @include remove-styles();
    padding: 0.5em 0;
    width: 100%;
    color: var(--global-text);
    font-size: 1.2rem;
    width: 22vw;
  }

  &__menu-item {

    padding: 1em 5.2em;
    margin-bottom: 0.1em;
    border-radius: 0.5em;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0),
      inset -1px -1px rgba(0, 0, 0, 0);
    transition: box-shadow 150ms ease;

    &:hover {
      box-shadow: inset 1px 1px 5px var(--white-shadow),
        inset -1px -1px 5px var(--white-shadow);
      cursor: pointer;
    }
  }

  &__btn {
    @include remove-styles();
    cursor: pointer;
    background-color: var(--global-red);
    color: var(--global-white);
    padding: 0.8em 3em;
    font-weight: 600;
    font-size: 1.01rem;
    border-radius: 5em;
    opacity: 0.8;
    box-shadow: -2px 5px 14px rgba(0, 0, 0, 0), 2px 5px 14px rgba(0, 0, 0, 0);
    transition: opacity 250ms ease-in, box-shadow 300ms ease;
  }

  // Placed icon after the input to target it for animation.
  .icon-container {
    order: -1; // default order -> 0
    opacity: 0.6;
    transition: opacity 250ms ease-in;
    margin: 0;

    #icon--glow {
      opacity: 0;
    }

  }

  // focus-within because input is insied the autocomplete-container
  .autocomplete-container:focus-within+.icon-container,
  .autocomplete-container:focus-within+.icon-container #icon--glow {
    opacity: 1;
  }

  .autocomplete-container:focus-within~&__btn {
    opacity: 1;
    box-shadow: -2px 4px 12px var(--red-shadow), 2px 4px 12px var(--light-red-shadow);
  }

}

.map {
  height: 40px;
}

/*

.card-container{
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: fit-content;
  display:flex;
  align-items: center;
  .movie-card{
    height: fit-content;
    width: 24vw;
    margin: 0 1em;
    padding: 2.6em 1em;
    border-radius: 0.6em;
    background: linear-gradient( 45deg, rgba(255, 244, 244, 0.162), rgba(255, 244, 244, 0));
    border: 1px solid rgba(229, 218, 218, 0.26);
    backdrop-filter: blur(5px);
    .movie-card__header{
      background: linear-gradient( 45deg, rgba(255, 244, 244, 0.162), rgba(255, 244, 244, 0));
      border: 1px solid rgba(229, 218, 218, 0.26);
      backdrop-filter: blur(5px);
      font-size: 1.4rem;
      text-align: center;
      padding: 0.3em 0;
      border-radius: 0.2em;
      margin: 0.5em 0;
      font-weight: 600;
      background: linear-gradient(45deg, #FB1261, #FFD463);
      border-radius: 0.3em;
      box-shadow:0 14px 10px rgba(255, 211, 99, 0.108), 10px 10px 15px rgba(221, 20, 87, 0.211);
      color: black;
    }
  }
} */