@import '../../mixins.scss';

.outline-btn {
  @include remove-styles();
  display: flex;
  color: var(--global-white);
  font-size: var(--font-size);
  justify-content: center;
  align-items: center;
  width: 95%;
  border-radius: 0.6em;
  padding: 0.4rem 0;
  border: 2px solid var(--global-white);
  margin: 2.6vh 0;
  cursor: pointer;
  transition: box-shadow 200ms linear;

  &__icon {
    margin: 0 0.5em;
  }

  &:hover {
    box-shadow: 0 2px 10px var(--white-shadow);
  }
}

/* ++++++++++ Add additional styles for outline-btn here ++++++++++ */

@media (min-width: 576px) {
  .navigate-btn {
    display: none;
  }
}

@media (max-width: 576px) {
  .navigate-btn {
    border-radius: 70%;
    margin: 0;
    height: 4rem;
    width: 4rem;
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    background-color: var(--grey-shadow);
    backdrop-filter: blur(4px);
  }
}