.App {
  border: 2px solid yellow;
  height: 100vh;
  width: 100vw;
  padding: var(--global-vertical-padding, 3rem) var(--global-horizontal-padding, 5rem);
  overflow: hidden;
}



.container {
  height: 100%;
}