/* ++++++++++ Mixins ++++++++++ */
@mixin remove-styles {
  border: none;
  text-decoration: none;
  background: none;

  &:focus {
    outline: none;
  }
}

@mixin add-box-features($box-border-radius) {
  border-radius: $box-border-radius;
  box-shadow: -5px 10px 20px rgba(7, 7, 7, 0.595);
}

/* ++++++++++ Variables ++++++++++ */
:root {
  --global-horizontal-padding: 5rem;
  --global-vertical-padding: 3rem;

  --font-size: 1.15rem;

  --global-white: rgb(255, 244, 255);
  --global-red: rgb(234, 28, 36);
  --global-light-red: rgb(251, 98, 76);
  --global-dark-grey: rgb(25, 26, 35);
  --global-medium-grey: rgb(41, 44, 55);
  --global-light-grey: rgb(146, 139, 139);

  --grey-shadow: rgba(34, 37, 47, 0.426);
  --white-shadow: rgba(255, 244, 255, 0.676);
  --red-shadow: rgba(234, 28, 35, 0.3);
  --light-red-shadow: rgba(251, 99, 76, 0.2);

  --global-background: var(--global-dark-grey);
  --global-text: var(--global-white);
}

@media (max-width: 900px) {
  :root {
    --global-horizontal-padding: 4.5vw;
    --global-vertical-padding: 5vh;

    --font-size: 0.95rem;
  }

  .bubbles {
    z-index: -1;
  }
}

@media (max-width: 576px) {
  :root {
    --global-horizontal-padding: 1vw;
    --global-vertical-padding: 5vh;

    --font-size: 0.95rem;
  }

  /* Styling Scrollbar`*/
  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }

}

/* ++++++++++ Reset ++++++++++ */
/* Reset styles and use border box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: var(--global-background);
  color: var(--global-text);
}

/* Styling text when it is selected by user */
::selection {
  color: var(--global-white);
  background: var(--global-red);
}

/* ++++++++++ Scrollbar Style ++++++++++ */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(80deg, rgba(18, 18, 18, 0.098), rgba(33, 33, 33, 0));
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--global-red), var(--global-light-red));
  border-radius: 4em;
  height: 1.5em;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: initial;
    grid-template-rows: 1fr auto;
    overflow-y: visible;
    height: fit-content;

    &__column--left {
      height: 70vh;
    }

    &__column--left,
    &__column--right {
      place-items: center;
    }
  }
}

/* ++++++++++ Visual Elements ++++++++++ */
.bubbles {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__1,
  &__2,
  &__3,
  &__4 {
    height: 200px;
    width: 200px;
    border-radius: 70%;
    background-color: var(--global-red);
    position: absolute;
    filter: blur(140px);
  }

  &__1 {
    bottom: 0;
    right: -2vw;
    transform: scale(0.3);
  }

  &__2 {
    bottom: 0;
    left: -6vw;
    opacity: 0.5;
  }

  &__3 {
    top: -6vh;
    right: 20vw;
    transform: scale(0.8);
    opacity: 0.7;
    z-index: 10;
  }

  &__4 {
    top: 50%;
    left: 50%;

  }
}