:root{
  --global-horizontal-padding: 5rem; 
  --global-vertical-padding: 3rem;

  --global-white: rgb(255, 244, 255);
  --global-red: rgb(234, 28, 36);
  --global-light-red: rgb(251, 98, 76); 
  --global-dark-grey: rgb(25, 26, 35);
  --global-medium-grey: rgb(34, 37, 47);
  --global-light-grey: rgb(132, 132, 132);

  --grey-shadow: rgb(34, 37, 47);

}

/* Reset styles and use border box */
*{
  box-sizing: border-box;
  margin:0;
  padding:0; 
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
}

body{
  background-color: rgb(34, 20, 24);
}

::selection{
  color: var(--global-white);
  background: var(--global-red);
}

::-webkit-scrollbar{
  width: 14px;
}

::-webkit-scrollbar-track{
  background: linear-gradient( 80deg, rgba(18, 18, 18, 0.323), rgba(33, 33, 33, 0));
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg, #FB1261, #FFD463);
  border-radius: 4em;
  height: 1.5em;
}