/* ++++++++++ Mixins ++++++++++ */
@mixin remove-styles {
  border: none;
  text-decoration: none;
  background: none;

  &:focus {
    outline: none;
  }
}

@mixin add-box-features($box-border-radius) {
  border-radius: $box-border-radius;
  box-shadow: -5px 5px 20px rgba(7, 7, 7, 0.246);
}